.card-content {
  margin: 5px 0;
  border-style: ridge;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-small {
  height: calc((100vh - 300px) / 4);
}

.card-fullscreen {
  height: 100%;
  margin: 0;
}

.card-selected {
  opacity: 0.5;
}

.close-button {
  position: fixed;
  right: 0;
}

.eye-icon {
  color: white;
  position: absolute;
  top: -3px;
  right: 0;
}

.card-hidden {
  opacity: 0.1;
}
