<mat-icon *ngIf="isFullScreen" class="close-button" (click)="onClickClose()">close</mat-icon>
<div
  class="card-content shake-constant"
  [class.card-small]="!isFullScreen"
  [class.card-fullscreen]="isFullScreen"
  [class.card-selected]="isSelected"
  [class.card-hidden]="isHidden"
  [class.card-content-text]="isAmbush || cardType === SuiteType.showdown"
  [class.shake-little]="isSelected"
  [ngStyle]="getBackgroudImage(cardNumber, cardType)"
  (click)="onClickCard($event)"
>
  <!-- [ngStyle]="{'background-color': appService.getColorByNumber(cardNumber, cardType)}" -->
  <div class="card-number">{{getCardContent()}}</div>
</div>
<span *ngIf="isEdit" (click)="onClickToggleVisible($event)" class="eye-icon fa-stack fa-sm">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="far fa-stack-2x" [ngClass]="{'fa-eye': !isHidden, 'fa-eye-slash': isHidden}" style="color:grey"></i>
</span>
