<div class="suite-container">
  <div class="action-bar" [ngStyle]="{visibility: type === SuiteType.vote ? 'initial' : 'hidden'}">
    <button (click)="onToggleEdit()" mat-mini-fab [color]="isEditMode ? 'primary' : 'warn'">
      <mat-icon>{{isEditMode ? 'check' : 'edit'}}</mat-icon>
    </button>
    <button (click)="onClickRefresh()" mat-mini-fab color="accent">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div *ngIf="type === SuiteType.vote" class="row">
    <app-card
      *ngFor="let n of numberList"
      [cardType]="type"
      [cardNumber]="n"
      [isAmbush]="myNumber === n"
      (cardClicked)="selectCard($event)"
      class="col-4"
    >
    </app-card>
  </div>
  <div *ngIf="type === SuiteType.showdown" class="row">
    <app-card
      *ngFor="let n of numberList"
      [cardType]="type"
      [cardNumber]="n"
      (cardClicked)="selectCard($event)"
      class="col-4"
    ></app-card>
  </div>
  <div *ngIf="type === SuiteType.showdown" class="cheatsheet">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cheatsheet
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card>
        <img mat-card-image src="/assets/images/showdown/showdown1.png">
        <img mat-card-image src="/assets/images/showdown/showdown2.png">
        <img mat-card-image src="/assets/images/showdown/showdown3.png">
      </mat-card>
    </mat-expansion-panel>
  </div>
</div>
