<h1 class="title-bar" mat-dialog-title>
  Game Settings
</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>How many players?</mat-label>
    <mat-select value="6" [(ngModel)]="data.playerCount">
      <mat-option *ngFor="let i of getNumberRange(6, 12)" [value]="i">{{i}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>What's your number?</mat-label>
    <mat-select value="1" [(ngModel)]="data.myNumber">
      <mat-option *ngFor="let i of getNumberRange(1, data.playerCount)" [value]="i">#{{i}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advanced Settings
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>Initial gold count</mat-label>
      <input [(ngModel)]="data.gold" matInput type="number" value="0">
    </mat-form-field>
  </mat-expansion-panel>
</div>
<div *ngIf="!points" mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="!data?.playerCount || !data?.myNumber" (click)="onClickConfirm()">Confirm</button>
  <button mat-raised-button (click)="onClickCancel()">Cancel</button>
</div>
