<mat-sidenav-container [ngStyle]="{'display': !isCardDisplayMode ? 'initial' : 'none'}" fullscreen>
  <mat-sidenav #sidenav>
    <mat-list>
      <mat-list-item (click)="onClickNewGame()">New Game</mat-list-item>
      <mat-list-item (click)="onClickRules()">Rules</mat-list-item>
      <mat-list-item (click)="onClickSettings()">Settings</mat-list-item>
      <mat-list-item (click)="onClickAbout()">About</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-container">
    <mat-toolbar class="toolbar">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Dead Last</span>
      <div class="status-container">
        <div class="my-icon" [ngStyle]="{'background-image': 'url(' + appService.getAvatar(myNumber, SuiteType.vote) + ')'}"></div>
        <div class="info-container">
          <div class="player-info">Player#{{myNumber}}</div>
          <div class="gold-info">
            <span class="gold-number">Gold: {{gold}}</span>
            <!-- <mat-icon class="gold-edit-icon">edit</mat-icon> -->
          </div>
        </div>
      </div>
    </mat-toolbar>

    <div class="card-container" (click)="onClickBlank()">
      <mat-tab-group mat-stretch-tabs [(selectedIndex)]="activeTabIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab #voteTab label="Vote">
          <app-card-suite
            #voteSuite
            [type]="SuiteType.vote"
            [playerCount]="playerCount"
            [myNumber]="myNumber"
          >
          </app-card-suite>
        </mat-tab>
        <mat-tab #showdownTab label="Final Showdown">
          <app-card-suite
            #showdownSuite
            [type]="SuiteType.showdown"
          >
          </app-card-suite>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="action-container">
      <button
        (click)="onClickGo()"
        [disabled]="!voteSuiteComponent?.selectedCardNumber && !showdownSuiteComponent?.selectedCardNumber"
        mat-raised-button
        color="warn"
      >Go!</button>
      <button (click)="onClickGetGold()" mat-raised-button color="accent">
        Get Gold
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-card
  [ngStyle]="{'display': isCardDisplayMode ? 'initial' : 'none'}"
  [cardType]="gameMode"
  [cardNumber]="getSelectedCardNumber()"
  [isFullScreen]="isCardDisplayMode"
  (exitFullScreen)="onExitFullScreen()"
>
</app-card>
