mat-sidenav {
  min-width: 50vw;
  max-width: 90vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toolbar {
  flex: 0 0 auto;
  padding-left: 0;

  .status-container {
    display: flex;
    position: absolute;
    align-items: center;
    right: 0;
    margin-right: 16px;

    .my-icon {
      height: 40px;
      width: 40px;
      border-style: ridge;
    }

    .info-container {
      font-size: 0.8rem;
      margin-left: 10px;

      .player-info {
        position: relative;
        top: 6px;
      }

      .gold-info {
        position: relative;
        bottom: 5px;

        .gold-number {
          margin-right: 5px;
        }

        .gold-edit-icon {
          font-size: 1rem;
          position: relative;
          top: 3px;
        }
      }
    }
  }
}

.card-container {
  flex: 1 1 auto;
  // padding: 20px;
}

.action-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column
}

.my-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
