<div class="title-bar">
  <h1 mat-dialog-title>About</h1>
  <mat-icon class="close-button" (click)="onClickClose()">close</mat-icon>
</div>

<div mat-dialog-content>
  <div class="license-text">Reference: <a href="https://mp.weixin.qq.com/s/9V9GYJEFDVk11H3qQLpuqw">https://mp.weixin.qq.com/s/9V9GYJEFDVk11H3qQLpuqw</a></div>
  <div class="license-text">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
